

      body{
          background-color:pink; <!-- inter css -->
      }
      h1{

          color:DodgerBlue;
      }
      p{
        color: yellow;

      }
      ul{

        color: yellow;
      }
